streamlit
PyMuPDF
pytesseract
Pillow
langchain==0.3.26
langchain-core==0.3.66
langchain-community==0.3.26
faiss-cpu
sentence-transformers
deep-translator
huggingface_hub==0.20.3
transformers
langchain-groq
langchain-openai
langchain-google-genai